# android
platforms/android/assets/www
platforms/android/bin
platforms/android/gen
platforms/android/build
platforms/android/local.properties
platforms/android/.gradle
platforms/android/.idea
platforms/android/cordova
platforms/android/CordovaLib/bin
platforms/android/CordovaLib/gen
platforms/android/CordovaLib/build
platforms/android/CordovaLib/local.properties

# iOS
platforms/ios/www
platforms/ios/platform_www
platforms/ios/build
platforms/ios/cordova
platforms/ios/CordovaLib/bin
platforms/ios/CordovaLib/gen
platforms/ios/CordovaLib/build
platforms/ios/Pods

plugins/
